@import "../../sass/responsiveStyles";
/* 872585 */
.bannerImage {
    position: relative;
    /* background-image: url("../../../public/banner.jpg"); */
    background-size: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: -8px -100px 48px -31px #141414  inset;
    @include tablet {
      height: 650px;
    }
    @include desktop {
      height: auto;
    }
  }
  .bannerFondo {
    visibility: hidden;
    width: 100%;
  }
  .bannerDescription {
   
    position: absolute;
    text-align: left;
    z-index: 5;
    
   
    @include tablet {
      margin-left: 20px;
      top: 50%;
      width: 45%;
    }
    @include desktop {
      margin-left: 40px;
      top: 40%;
      width: 35%;
    }
  }
  .bannerDescription p{
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 17px;
    }
  }
  .bannerDescription h1{
    text-align: left;
    color: white;
    font-weight: bold;
    @include tablet {
      font-size: 30px;
    }
    @include desktop {
      font-size: 50px;
    }
  }
 
  .bannerDescription button{
    margin-right: 15px;
    @include tablet {
      font-size: 14px;
      padding: 5px;
      margin-bottom: 10px;
    }
    @include desktop {
      font-size: 20px;
      padding: 10px;
      margin-bottom: 0px;
    }
  }
  .bannerExtra {
    position: absolute;
    text-align: left;
    z-index: 5;
    top: 60%;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .bannerExtra p{
    color: white;
  }
  .bannerExtra .bannerVolumen{
    border:  1px solid  white;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 50%;
  }
  .bannerExtra .bannerVolumen p{
    
    margin-bottom: 0;
    @include tablet {
      font-size: 20px;
    }
    @include desktop {
      font-size: 25px;
    }
  }

  .bannerExtra .bannerAge{
    border-left:  4px solid  white;
  background-color: rgba(51,51,51,.6);
  }
  .bannerExtra .bannerAge p{
   
    margin-left: 10px;
    
   
    
    @include tablet {
      margin-right: 40px;
      font-size: 15px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    @include desktop {
      margin-right: 70px;
      font-size: 20px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }